.node-red/flows_Radio.json
[
    {
        "id": "6db5641.c4bb3a",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "55308ed3.60103",
        "type": "tab",
        "label": "Ansagen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e95d2d3e.16a2d",
        "type": "tab",
        "label": "Sheet 3"
    },
    {
        "id": "4dfcddef.b20324",
        "type": "tab",
        "label": "Sheet 4"
    },
    {
        "id": "27abbd1e.d85442",
        "type": "tab",
        "label": "Sheet 8"
    },
    {
        "id": "4b74616f.b48ba",
        "type": "tab",
        "label": "Sheet 10"
    },
    {
        "id": "58b862fb.a7479c",
        "type": "tab",
        "label": "Sheet 6"
    },
    {
        "id": "9856be8c.67a94",
        "type": "websocket-client",
        "z": "",
        "path": "ws://192.168.1.107:9090/jsonrpc",
        "wholemsg": "false"
    },
    {
        "id": "60d11df8.9f2ee4",
        "type": "dropbox-config",
        "z": "6db5641.c4bb3a",
        "name": ""
    },
    {
        "id": "e350d1de.c8f3f",
        "type": "websocket-listener",
        "z": "6db5641.c4bb3a",
        "path": "/ws/snooker",
        "wholemsg": "false"
    },
    {
        "id": "76b7f444.28805c",
        "type": "websocket-listener",
        "z": "6db5641.c4bb3a",
        "path": "/ws/graph",
        "wholemsg": "false"
    },
    {
        "id": "b3090ee2.8fdbf",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/mpd",
        "wholemsg": "false"
    },
    {
        "id": "9a72b171.4ae32",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/gap",
        "wholemsg": "false"
    },
    {
        "id": "96ccbed0.400eb",
        "type": "dropbox-config",
        "z": "",
        "name": ""
    },
    {
        "id": "3f6ae5bd.87ed9a",
        "type": "websocket-client",
        "z": "",
        "path": "ws://Heizung:1880/ws/neue_Email_da",
        "wholemsg": "true"
    },
    {
        "id": "97ba118a.d6135",
        "type": "websocket-client",
        "z": "",
        "path": "ws://Heizung:1880/ws/gatttool",
        "wholemsg": "false"
    },
    {
        "id": "2f4de0fa.55c6f",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7855921b.f02e8c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b6a85d50.5b4fb",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/mqtt_ersatz",
        "wholemsg": "false"
    },
    {
        "id": "9e485ce1.d54c1",
        "type": "websocket-client",
        "z": "",
        "path": "ws://heizung:1880/ws/Einkaufsliste",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "def2ccf1.78875",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": true
    },
    {
        "id": "8db57f2b.e9e07",
        "type": "websocket-client",
        "z": "",
        "path": "ws://Heizung:1880/ws/Wetter",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "f0401a97.0f2d2",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "timestamp",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "3119ea74.ff94e"
            ]
        ]
    },
    {
        "id": "3119ea74.ff94e",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "Create Date object",
        "func": " // Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "59ec9f2a.a6136"
            ]
        ]
    },
    {
        "id": "59ec9f2a.a6136",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "This is the payload: {{...}}",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "x": 600.9052429199219,
        "y": 60.361215591430664,
        "wires": [
            [
                "4b4e4529.b4b1bc"
            ]
        ]
    },
    {
        "id": "4b4e4529.b4b1bc",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 837.5940437316895,
        "y": 60,
        "wires": []
    },
    {
        "id": "e799d9bd.186628",
        "type": "function",
        "z": "e95d2d3e.16a2d",
        "name": "Toggle 0/1 on input",
        "func": "\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;",
        "outputs": 1,
        "x": 279,
        "y": 108.04566097259521,
        "wires": [
            [
                "61a0de54.9e5f2",
                "d3fded89.2c021"
            ]
        ]
    },
    {
        "id": "61a0de54.9e5f2",
        "type": "debug",
        "z": "e95d2d3e.16a2d",
        "name": "jede 5. Minute",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 518,
        "y": 168.04566192626953,
        "wires": []
    },
    {
        "id": "f277eb47.0d8818",
        "type": "inject",
        "z": "e95d2d3e.16a2d",
        "name": "tick every 5 min",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "x": 118.71601867675781,
        "y": 170.00765991210938,
        "wires": [
            [
                "e799d9bd.186628",
                "979fc28e.68604"
            ]
        ]
    },
    {
        "id": "d3fded89.2c021",
        "type": "rpi-gpio out",
        "z": "e95d2d3e.16a2d",
        "name": "",
        "pin": "7",
        "x": 515.8333625793457,
        "y": 107.87899494171143,
        "wires": []
    },
    {
        "id": "83488358.7cb78",
        "type": "inject",
        "z": "4dfcddef.b20324",
        "name": "Tick",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/5 0-22 * * 1,2,3,4,6,0",
        "once": false,
        "x": 80.29727172851562,
        "y": 53.0452880859375,
        "wires": [
            [
                "2e64dc49.d19b24"
            ]
        ]
    },
    {
        "id": "2e64dc49.d19b24",
        "type": "http request",
        "z": "4dfcddef.b20324",
        "name": "UK Power",
        "method": "GET",
        "url": "http://realtimeweb-prod.nationalgrid.com/SystemData.aspx",
        "x": 241.76309967041016,
        "y": 52.0195894241333,
        "wires": [
            [
                "6b16b408.94e94c"
            ]
        ]
    },
    {
        "id": "6b16b408.94e94c",
        "type": "function",
        "z": "4dfcddef.b20324",
        "name": "UK Power Demand",
        "func": "// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;",
        "outputs": "2",
        "x": 418.76309967041016,
        "y": 52.0195894241333,
        "wires": [
            [
                "1437d38b.ebc82c"
            ],
            [
                "d7185991.28e7a8"
            ]
        ]
    },
    {
        "id": "1437d38b.ebc82c",
        "type": "debug",
        "z": "4dfcddef.b20324",
        "name": "",
        "active": true,
        "complete": false,
        "x": 618.7630996704102,
        "y": 22.0195894241333,
        "wires": []
    },
    {
        "id": "d7185991.28e7a8",
        "type": "debug",
        "z": "4dfcddef.b20324",
        "name": "",
        "active": true,
        "complete": false,
        "x": 619.7630996704102,
        "y": 93.0195894241333,
        "wires": []
    },
    {
        "id": "9c6b7c63.63948",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "alle 15 min",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/15 5-23 * * *",
        "once": true,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "5ad39d6d.d5ff14"
            ]
        ]
    },
    {
        "id": "145cc1da.eba33e",
        "type": "exec",
        "z": "27abbd1e.d85442",
        "command": "exec vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "name": "Raspi CPU Temperatur messen",
        "x": 550,
        "y": 40,
        "wires": [
            [
                "6e2ffba5.91d004",
                "d31a187a.032df8"
            ],
            [],
            []
        ]
    },
    {
        "id": "6e2ffba5.91d004",
        "type": "debug",
        "z": "27abbd1e.d85442",
        "name": "Raspi CPU Temp.",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0987b72.1f6788",
        "type": "udp out",
        "z": "27abbd1e.d85442",
        "name": "zum MACHXO2 über UDP",
        "addr": "192.168.1.31",
        "iface": "",
        "port": "80",
        "ipv": "udp4",
        "outport": "65000",
        "base64": false,
        "multicast": "false",
        "x": 440.3730163574219,
        "y": 469,
        "wires": []
    },
    {
        "id": "9407fdfb.6bf8",
        "type": "udp in",
        "z": "27abbd1e.d85442",
        "name": "UDP Port 65000",
        "iface": "",
        "port": "65000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 401.3730163574219,
        "y": 505,
        "wires": [
            [
                "aa98af65.55675"
            ]
        ]
    },
    {
        "id": "aa98af65.55675",
        "type": "debug",
        "z": "27abbd1e.d85442",
        "name": "was der UDP-Port zurücksendet",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 650.3730163574219,
        "y": 505,
        "wires": []
    },
    {
        "id": "77b75a03.8848a4",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "LED  .*.*.*.*",
        "topic": "",
        "payload": "55 2D04 ! ( .*.*.*.* )",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.37301635742188,
        "y": 282,
        "wires": [
            [
                "deaca6a.f215358"
            ]
        ]
    },
    {
        "id": "2b85891.fd47a76",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "LED *.*.*.*. ",
        "topic": "",
        "payload": "AA 2D04 ! ( *.*.*.*. )",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 121.37301635742188,
        "y": 327,
        "wires": [
            [
                "deaca6a.f215358"
            ]
        ]
    },
    {
        "id": "3fe3c23.fc01c3e",
        "type": "file",
        "z": "27abbd1e.d85442",
        "name": "Spartan3",
        "filename": "/dev/ttyAMA0",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 379.3730163574219,
        "y": 664,
        "wires": []
    },
    {
        "id": "8a28de48.75d72",
        "type": "debug",
        "z": "27abbd1e.d85442",
        "name": "OUTPUT vom Spartan3",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 611.8730163574219,
        "y": 700,
        "wires": []
    },
    {
        "id": "6ec30b4e.913cf4",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "LED alle aus",
        "topic": "",
        "payload": "00 2D04 ! ( ........ )",
        "payloadType": "str",
        "repeat": "420",
        "crontab": "",
        "once": false,
        "x": 131.37301635742188,
        "y": 373,
        "wires": [
            [
                "deaca6a.f215358"
            ]
        ]
    },
    {
        "id": "a86bc861.579438",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "LED alle ein",
        "topic": "",
        "payload": "FF 2D04 ! ( ******** )",
        "payloadType": "str",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "x": 126.37301635742188,
        "y": 226,
        "wires": [
            [
                "deaca6a.f215358"
            ]
        ]
    },
    {
        "id": "deaca6a.f215358",
        "type": "function",
        "z": "27abbd1e.d85442",
        "name": "Sammelpunkt",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 394.3730163574219,
        "y": 284,
        "wires": [
            [
                "1dddfa53.e22206"
            ]
        ]
    },
    {
        "id": "1dddfa53.e22206",
        "type": "function",
        "z": "27abbd1e.d85442",
        "name": "noch ein Sammelpunkt",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 147.37301635742188,
        "y": 588,
        "wires": [
            [
                "3fe3c23.fc01c3e",
                "e0987b72.1f6788"
            ]
        ]
    },
    {
        "id": "5498e932.ab6718",
        "type": "http in",
        "z": "4b74616f.b48ba",
        "name": "",
        "url": "/chat",
        "method": "post",
        "x": 414.94193267822266,
        "y": 155.0561981201172,
        "wires": [
            [
                "5f871bf6.a078e4"
            ]
        ]
    },
    {
        "id": "fe12fc78.01ed",
        "type": "http response",
        "z": "4b74616f.b48ba",
        "name": "",
        "x": 1042.1270141601562,
        "y": 175.63299560546875,
        "wires": []
    },
    {
        "id": "2f0190c3.d0fe7",
        "type": "template",
        "z": "4b74616f.b48ba",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "\n  <iframe src=\"http://192.168.1.140:1880/dialog\" name=\"iframe_a\" height=\"70%\"></iframe>\n  <form name=\"frm\" action=\"http://192.168.1.140:1880/chat\" method=\"post\">\n  <b>Message from {{payload}}</b><br>\n  <input type=\"text\" name=\"message\" size=\"90%\"/>\n  <input type=\"hidden\" name=\"user\" value=\"{{payload}}\"><br>\n  <button type=\"submit\">Submit</button>\n  </form>\n  \n  <SCRIPT language=\"JavaScript\">\n  window.setInterval(\"reloadIFrame();\", 5000);\n  function reloadIFrame() { window.frames[\"iframe_a\"].location.reload(); }\n  </SCRIPT>\n",
        "x": 877.291015625,
        "y": 175.63299560546875,
        "wires": [
            [
                "fe12fc78.01ed"
            ]
        ]
    },
    {
        "id": "be549e66.41ab6",
        "type": "http in",
        "z": "4b74616f.b48ba",
        "name": "",
        "url": "/dialog",
        "method": "get",
        "x": 524.1270141601562,
        "y": 236.63299560546875,
        "wires": [
            [
                "384b0426.c7b4fc"
            ]
        ]
    },
    {
        "id": "cd06a97f.32f958",
        "type": "http response",
        "z": "4b74616f.b48ba",
        "name": "",
        "x": 1042.1270141601562,
        "y": 236.63299560546875,
        "wires": []
    },
    {
        "id": "f0f04e71.0f0fb",
        "type": "template",
        "z": "4b74616f.b48ba",
        "name": "",
        "field": "payload",
        "template": "{{{payload}}}",
        "x": 870.1270141601562,
        "y": 236.63299560546875,
        "wires": [
            [
                "cd06a97f.32f958"
            ]
        ]
    },
    {
        "id": "5f871bf6.a078e4",
        "type": "function",
        "z": "4b74616f.b48ba",
        "name": "",
        "func": "  if (msg.req.body[\"user\"] != \"\") {\n    msg.payload = msg.req.body[\"user\"]\n  }\n  if (msg.req.body[\"message\"] != undefined) {\n    context.global.dialog += \n    msg.req.body[\"user\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialog = context.global.dialog || \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 695.7130126953125,
        "y": 175.63299560546875,
        "wires": [
            [
                "2f0190c3.d0fe7"
            ]
        ]
    },
    {
        "id": "384b0426.c7b4fc",
        "type": "function",
        "z": "4b74616f.b48ba",
        "name": "",
        "func": "msg.payload = context.global.dialog;\nreturn msg;",
        "outputs": 1,
        "x": 698.1549682617188,
        "y": 233.18301391601562,
        "wires": [
            [
                "f0f04e71.0f0fb"
            ]
        ]
    },
    {
        "id": "cc82235c.337de",
        "type": "http in",
        "z": "4b74616f.b48ba",
        "name": "",
        "url": "/login",
        "method": "get",
        "swaggerDoc": "",
        "x": 82.5,
        "y": 80,
        "wires": [
            [
                "7b584313.84a7bc",
                "85d6eac8.7a2918"
            ]
        ]
    },
    {
        "id": "7b584313.84a7bc",
        "type": "template",
        "z": "4b74616f.b48ba",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "\n  <form action=\"http://192.168.1.140:1880/chat\" method=\"post\">\n  <b>User</b><br> <input type=\"text\" name=\"user\"/><br>\n  <button type=\"submit\">Submit</button>\n  </form>",
        "x": 242.5,
        "y": 80,
        "wires": [
            [
                "481346bd.b7ecb8"
            ]
        ]
    },
    {
        "id": "481346bd.b7ecb8",
        "type": "http response",
        "z": "4b74616f.b48ba",
        "name": "",
        "x": 400.5,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c19795b.b3e688",
        "type": "http in",
        "z": "4b74616f.b48ba",
        "name": "",
        "url": "/mypage",
        "method": "get",
        "x": 488.8971710205078,
        "y": 484.0183753967285,
        "wires": [
            [
                "b88df4e4.477208"
            ]
        ]
    },
    {
        "id": "9c921e3a.636de",
        "type": "http response",
        "z": "4b74616f.b48ba",
        "name": "",
        "x": 1056.1270141601562,
        "y": 473.63299560546875,
        "wires": []
    },
    {
        "id": "47ab4a3f.b854b4",
        "type": "template",
        "z": "4b74616f.b48ba",
        "name": "template",
        "field": "payload",
        "template": "This is the <b>message</b>: {{payload}}",
        "x": 908.1270141601562,
        "y": 473.63299560546875,
        "wires": [
            [
                "9c921e3a.636de"
            ]
        ]
    },
    {
        "id": "b88df4e4.477208",
        "type": "function",
        "z": "4b74616f.b48ba",
        "name": "where things happen",
        "func": "if (msg.topic === \"new message\") {\n  context.value = msg.payload;\n  return null;\n} else {\n  msg.payload = context.value || \"never got anything\";\n  return msg;\n}",
        "outputs": 1,
        "x": 710.1270141601562,
        "y": 473.63299560546875,
        "wires": [
            [
                "47ab4a3f.b854b4"
            ]
        ]
    },
    {
        "id": "ee4ddb65.11b228",
        "type": "inject",
        "z": "4b74616f.b48ba",
        "name": "",
        "topic": "new message",
        "payload": "Have a nice day",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 553.1270141601562,
        "y": 399.63299560546875,
        "wires": [
            [
                "b88df4e4.477208"
            ]
        ]
    },
    {
        "id": "85d6eac8.7a2918",
        "type": "debug",
        "z": "4b74616f.b48ba",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 558.3729858398438,
        "y": 119.36700439453125,
        "wires": []
    },
    {
        "id": "f5abec67.0a541",
        "type": "debug",
        "z": "4b74616f.b48ba",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 416,
        "y": 350,
        "wires": []
    },
    {
        "id": "898b9dde.76746",
        "type": "dropbox out",
        "z": "6db5641.c4bb3a",
        "dropbox": "96ccbed0.400eb",
        "filename": "flows_raspberrypi.json",
        "localFilename": ".node-red/flows_Radio.json",
        "name": ".node-red",
        "x": 377.77734375,
        "y": 139.5760326385498,
        "wires": []
    },
    {
        "id": "5496fde6.ab6904",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "Upload Dropbox",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "898b9dde.76746",
                "9770a698.688f58"
            ]
        ]
    },
    {
        "id": "efb1ea92.104e18",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "82d5706d.7d2a9",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "Download Dropbox auslösen",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "b777f107.48881"
            ]
        ]
    },
    {
        "id": "b777f107.48881",
        "type": "dropbox",
        "z": "6db5641.c4bb3a",
        "dropbox": "60d11df8.9f2ee4",
        "filename": "flows_raspberrypi.json",
        "name": "Download Dropbox",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "efb1ea92.104e18",
                "165303.ffe9acfd"
            ]
        ]
    },
    {
        "id": "165303.ffe9acfd",
        "type": "file",
        "z": "6db5641.c4bb3a",
        "name": "",
        "filename": ".node-red/flows_raspberrypi_download_dropbox.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b47fd92.74b8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "alle 30 min",
        "topic": "7t",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 153.08734130859375,
        "y": 418.51904106140137,
        "wires": [
            [
                "58482d36.a7b7d4"
            ]
        ]
    },
    {
        "id": "58482d36.a7b7d4",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "Wetter Chemnitz",
        "method": "GET",
        "ret": "txt",
        "url": "api.openweathermap.org/data/2.5/weather?id=2940132&units=metric&lang=de&mode=xml&appid=b1b15e88fa797225412429c1c50c122a1",
        "tls": "",
        "x": 345.45776748657227,
        "y": 418.3493685722351,
        "wires": [
            [
                "2fdd071c.d022f8",
                "3b07a35a.c4f85c"
            ]
        ]
    },
    {
        "id": "c5417a30.3abe88",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": false,
        "console": "true",
        "complete": "true",
        "x": 708.2199096679688,
        "y": 364.52398681640625,
        "wires": []
    },
    {
        "id": "2fdd071c.d022f8",
        "type": "xml",
        "z": "6db5641.c4bb3a",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 529.9243812561035,
        "y": 418.6888909339905,
        "wires": [
            [
                "c5417a30.3abe88",
                "8d77719e.72889"
            ]
        ]
    },
    {
        "id": "8d77719e.72889",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "zeitpunkt=new Date(msg.payload.current.lastupdate[0].$.value);\noutput=msg.payload.current.temperature[0].$.value+\" °C um \"+zeitpunkt.toLocaleTimeString();\nnode.status({fill:\"yellow\",shape:\"dot\",text:output});\nmsg.payload=output;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 711.0645484924316,
        "y": 418.53859186172485,
        "wires": [
            [
                "47ca034f.b835fc"
            ]
        ]
    },
    {
        "id": "fe96cfaa.01693",
        "type": "http in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "url": "/addons/webinterface.chorus/WEBSOCKET_KODI.xml",
        "method": "get",
        "swaggerDoc": "",
        "x": 295.5175323486328,
        "y": 461.0345419049263,
        "wires": [
            [
                "183c1c7c.e7c3e4"
            ]
        ]
    },
    {
        "id": "183c1c7c.e7c3e4",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 707.3013916015625,
        "y": 543.1150512695312,
        "wires": []
    },
    {
        "id": "9770a698.688f58",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 538.6813659667969,
        "y": 140.22407341003418,
        "wires": []
    },
    {
        "id": "47ca034f.b835fc",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 936.3659591674805,
        "y": 418.7467637062073,
        "wires": []
    },
    {
        "id": "f57f0e4a.0a80f",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "alle 5 Min Sa+So",
        "topic": "",
        "payload": "MPLA html request",
        "payloadType": "str",
        "repeat": "",
        "crontab": "*/5 0-23 * * 6,0",
        "once": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "37a3da5b.c85c26",
                "647ab815.9b8548"
            ]
        ]
    },
    {
        "id": "37a3da5b.c85c26",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "MPLA",
        "method": "GET",
        "ret": "txt",
        "url": "http://matheplanet.de/matheplanet/nuke/html/backend_forumnews.php?newreplies&version=&htmlentities",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "b8af9633.475068",
                "3d25faaf.2adb46"
            ]
        ]
    },
    {
        "id": "647ab815.9b8548",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "b8af9633.475068",
        "type": "rbe",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "x": 490,
        "y": 660,
        "wires": [
            [
                "cf2733b.f30d8d"
            ]
        ]
    },
    {
        "id": "50d6b2c2.af294c",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 204.61587524414062,
        "y": 796.5839824676514,
        "wires": [
            [
                "72c3c64c.8d3c38"
            ]
        ]
    },
    {
        "id": "72c3c64c.8d3c38",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "aconnect",
        "addpay": false,
        "append": "-l",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 404.3103332519531,
        "y": 797.5354881286621,
        "wires": [
            [
                "b8077a02.47f888"
            ],
            [
                "b8077a02.47f888"
            ],
            [
                "b8077a02.47f888"
            ]
        ]
    },
    {
        "id": "b8077a02.47f888",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 639.158332824707,
        "y": 795.882490158081,
        "wires": []
    },
    {
        "id": "1c949aae.e36b65",
        "type": "rpi-mouse",
        "z": "6db5641.c4bb3a",
        "name": "",
        "butt": "1",
        "x": 189.39837646484375,
        "y": 721.6470470428467,
        "wires": [
            [
                "f2399631.0dc668"
            ]
        ]
    },
    {
        "id": "f2399631.0dc668",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 489.63018798828125,
        "y": 723.0243511199951,
        "wires": []
    },
    {
        "id": "cf2733b.f30d8d",
        "type": "xml",
        "z": "6db5641.c4bb3a",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "a9ac1b61.5653e8"
            ]
        ]
    },
    {
        "id": "a9ac1b61.5653e8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "nur die Titel",
        "func": "var output=\"MPLA -----------\";\nvar item=msg.payload.rss.channel[0].item;\nfor ( var i = 0 ; i < item.length ; i++ ) {\n  output=output+\"\\n\"+\n    item[i].replyTime[0].split(\" \")[1]+\" \"+\n    item[i].title[0];\n  }\nmsg.payload=output;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 660,
        "wires": [
            [
                "82dc3df.ee113c"
            ]
        ]
    },
    {
        "id": "f26a4110.0d95c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 1300,
        "y": 620,
        "wires": []
    },
    {
        "id": "11e23851.ee1dc8",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "KODI",
        "info": "",
        "x": 337.08734130859375,
        "y": 1135.5190410614014,
        "wires": []
    },
    {
        "id": "1c0a1064.e3f5f",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "http://192.168.1.118/jsonrpc?request={...}",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.1.118/jsonrpc?request={{{payload}}}",
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "e33889a9.1cc778"
            ]
        ]
    },
    {
        "id": "e2c76fda.1d389",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "Reboot",
        "topic": "",
        "payload": "{\"jsonrpc\":\"2.0\",\"method\":\"System.Reboot\",\"id\":1}",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 464.3363952636719,
        "y": 1490.2139282226562,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "e33889a9.1cc778",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "debug, was KODI zurückgesendet hat",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1035.6153564453125,
        "y": 1697.390983581543,
        "wires": []
    },
    {
        "id": "e3ca364f.1c35c8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "Sammelpunkt ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 738.5028686523438,
        "y": 1407.7485046386719,
        "wires": [
            [
                "4cfcc3d8.b3033c",
                "9f68495c.6097b8"
            ]
        ]
    },
    {
        "id": "4cfcc3d8.b3033c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "debug, was zu KODI gesendet wurde",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1046.9609375,
        "y": 1407.1084594726562,
        "wires": []
    },
    {
        "id": "fb87fc1f.0478",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "encodeURIComponent",
        "func": "msg.payload=encodeURIComponent(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 482.0913505554199,
        "y": 1583.3420476913452,
        "wires": [
            [
                "1c0a1064.e3f5f"
            ]
        ]
    },
    {
        "id": "3a6b1387.c594ec",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "ws://192.168.1.100:9090/jsonrpc",
        "server": "",
        "client": "9856be8c.67a94",
        "x": 390,
        "y": 1900,
        "wires": [
            [
                "a12d8098.5ed28"
            ]
        ]
    },
    {
        "id": "a12d8098.5ed28",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "was antwortet Websocket KODI",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 690,
        "y": 1900,
        "wires": []
    },
    {
        "id": "9f68495c.6097b8",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "ws://192.168.1.118:9090/jsonrpc",
        "server": "",
        "client": "9856be8c.67a94",
        "x": 1037.6636352539062,
        "y": 1293.7777557373047,
        "wires": []
    },
    {
        "id": "f34c8c4f.0cb37",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "mute",
        "func": "msg.payload={\"id\":9,\"jsonrpc\":\"2.0\",\"method\":\"Input.ExecuteAction\",\"params\":{\"action\":\"mute\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347.40478515625,
        "y": 1614.5814208984375,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "79fa8283.86057c",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 133.84708404541016,
        "y": 1553.6397342681885,
        "wires": [
            [
                "c712bb2c.38ed48"
            ]
        ]
    },
    {
        "id": "c712bb2c.38ed48",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "Shutdown",
        "func": "msg.payload={\"jsonrpc\":\"2.0\",\"method\":\"System.Shutdown\",\"id\":1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 351.1056213378906,
        "y": 1552.3816223144531,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "27bf210e.d840de",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "Stop",
        "func": "msg.payload={\"id\":8,\"jsonrpc\":\"2.0\",\"method\":\"Player.Stop\",\"params\":{\"playerid\":1}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347.6955261230469,
        "y": 1249.7943115234375,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "8c8bf506.737408",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "Stop",
        "topic": "",
        "payload": "{\"id\":8,\"jsonrpc\":\"2.0\",\"method\":\"Player.Stop\",\"params\":{\"playerid\":1}}",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150.26485443115234,
        "y": 1248.2850542068481,
        "wires": [
            [
                "27bf210e.d840de",
                "9551d5cc.91d278"
            ]
        ]
    },
    {
        "id": "da8ae252.25752",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "ZDF",
        "func": "msg.payload={\"id\":4,\"jsonrpc\":\"2.0\",\"method\": \"Player.Open\", \"params\":{\"item\": {\"file\": \"plugin://plugin.video.zdf_de_lite/?url=1822600&mode=playVideo\" } } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 341.2373352050781,
        "y": 1200.234619140625,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "cbfe0906.3401f8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 151.69466018676758,
        "y": 1198.5247707366943,
        "wires": [
            [
                "da8ae252.25752"
            ]
        ]
    },
    {
        "id": "caa0d67b.355f28",
        "type": "xml",
        "z": "6db5641.c4bb3a",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 442.0517883300781,
        "y": 1084.1181640625,
        "wires": [
            []
        ]
    },
    {
        "id": "927a06db.6d85f8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "ARD",
        "func": "msg.payload={\"id\":4,\"jsonrpc\":\"2.0\",\"method\": \"Player.Open\", \"params\":{\"item\": {\"file\": \"plugin://plugin.video.ardmediathek_de/?url=&mode=playLiveARD\" } } };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 472.7622299194336,
        "y": 1179.1408824920654,
        "wires": [
            [
                "e3ca364f.1c35c8"
            ]
        ]
    },
    {
        "id": "72cb0929.8d34f8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "ARD",
        "topic": "",
        "payload": "{\"id\":4  ,\"jsonrpc\":\"2.0\",\"method\": \"Player.Open\", \"params\":{\"item\": {\"file\": \"plugin://plugin.video.live.streams/?url=http://daserste_live-lh.akamaihd.net/i/daserste_de@91204/master.m3u8&mode=12\" } } }",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 211,
        "y": 1135,
        "wires": [
            [
                "927a06db.6d85f8"
            ]
        ]
    },
    {
        "id": "59a28015.a65d8",
        "type": "status",
        "z": "6db5641.c4bb3a",
        "name": "",
        "scope": null,
        "x": 122.12300109863281,
        "y": 269.635009765625,
        "wires": [
            [
                "ed37b765.12c848"
            ]
        ]
    },
    {
        "id": "ed37b765.12c848",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 333.00299072265625,
        "y": 270.5679931640625,
        "wires": []
    },
    {
        "id": "51486157.aeb7a",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "hoch",
        "func": "msg.payload=\"up\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327,
        "y": 1298.6529846191406,
        "wires": [
            [
                "9925be0.f66da4"
            ]
        ]
    },
    {
        "id": "a13629e7.5ec9d8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "runter",
        "func": "msg.payload=\"down\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333,
        "y": 1351,
        "wires": [
            [
                "9925be0.f66da4"
            ]
        ]
    },
    {
        "id": "1f9056a8.e06fa9",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "links",
        "func": "msg.payload=\"left\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 329.3749465942383,
        "y": 1401.47789478302,
        "wires": [
            [
                "9925be0.f66da4"
            ]
        ]
    },
    {
        "id": "1c3a228b.e3c5dd",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "rechts",
        "func": "msg.payload=\"right\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 328,
        "y": 1446,
        "wires": [
            [
                "9925be0.f66da4"
            ]
        ]
    },
    {
        "id": "7224728a.8ddb8c",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "select",
        "func": "msg.payload=\"select\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 1491,
        "wires": [
            [
                "9925be0.f66da4"
            ]
        ]
    },
    {
        "id": "9925be0.f66da4",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "action",
        "func": "msg.payload={\"id\":9,\"jsonrpc\":\"2.0\",\"method\":\"Input.ExecuteAction\",\"params\":{\"action\":msg.payload}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 552.4987907409668,
        "y": 1409.393783569336,
        "wires": [
            [
                "e3ca364f.1c35c8",
                "49472915.b6b8d8"
            ]
        ]
    },
    {
        "id": "49472915.b6b8d8",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 729.2857142857141,
        "y": 1354.9999999999998,
        "wires": []
    },
    {
        "id": "3d4ff9bb.c2b006",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 356.9590148925781,
        "y": 1956.1919555664062,
        "wires": []
    },
    {
        "id": "4f0d9238.b0f26c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 390,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c20cbcfe.3df34",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "ssh pi@localhost \"speaker-test -c1 -t sine -f 60 -P 2 -p 0.4 -l 1\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1240,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "66a465ed.995b9c",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 900,
        "y": 740,
        "wires": [
            [
                "c20cbcfe.3df34"
            ]
        ]
    },
    {
        "id": "3b07a35a.c4f85c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 618.9099731445312,
        "y": 477.7209777832031,
        "wires": []
    },
    {
        "id": "979fc28e.68604",
        "type": "exec",
        "z": "e95d2d3e.16a2d",
        "command": "ssh pi@localhost \"speaker-test -c1 -t sine -f 70 -P 2 -p 0.4 -l 1\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 485.66400146484375,
        "y": 251.85400390625,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b7664885.8b5f28",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Snooker",
        "info": "speichert Snooker-Ergebnis",
        "x": 60,
        "y": 2160,
        "wires": []
    },
    {
        "id": "9dab710.7bccf9",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "Snookersocket",
        "server": "e350d1de.c8f3f",
        "client": "",
        "x": 260,
        "y": 2160,
        "wires": [
            [
                "46ca4b21.e12aa4",
                "f0d5dc5d.108dd"
            ]
        ]
    },
    {
        "id": "46ca4b21.e12aa4",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 2160,
        "wires": []
    },
    {
        "id": "f0d5dc5d.108dd",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "switch (msg.payload) {\n  case \"resetIds\": \n    var ids=[]; \n    break;\n  case \"hallo\": \n    msg.payload=context.get('Spielstand')||{};\n    var ids = context.get('ids')||[];\n    ret=msg; \n    break;\n  default:\n    context.set('Spielstand',msg.payload);\n  var ids = context.get('ids')||[];\n  var ret = [[]];\n  var ind = ids.indexOf(msg._session.id);\n  if (ind==-1) {ids.push(msg._session.id)};\n  if (msg.payload!=\"\") {\n  for (i=0;i<ids.length;i++) {\n    if (i!=ind) {\n      var msg1={\"payload\":msg.payload, \"_session\": { \"type\": \"websocket\", \"id\": ids[i] }}\n      ret[0].push(msg1);\n      }\n    }\n    }\n  }\ncontext.set('ids',ids);\nnode.status({fill:\"green\",shape:\"dot\",text:ids.length});\nreturn ret;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 2220,
        "wires": [
            [
                "236477a4.729258",
                "46ca4b21.e12aa4"
            ]
        ]
    },
    {
        "id": "236477a4.729258",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "Snookersocket",
        "server": "e350d1de.c8f3f",
        "client": "",
        "x": 600,
        "y": 2220,
        "wires": []
    },
    {
        "id": "c44d44e9.2f16a8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "resetIds",
        "topic": "",
        "payload": "resetIds",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 260,
        "y": 2220,
        "wires": [
            [
                "f0d5dc5d.108dd",
                "46ca4b21.e12aa4"
            ]
        ]
    },
    {
        "id": "62c8a8e1.241258",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Graph",
        "info": "Graph",
        "x": 163.24200439453125,
        "y": 2283.2818908691406,
        "wires": []
    },
    {
        "id": "fc8be7c8.c99768",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "Graph",
        "server": "76b7f444.28805c",
        "client": "",
        "x": 134.11199951171875,
        "y": 2349.040008544922,
        "wires": [
            [
                "5292643e.bc8c8c"
            ]
        ]
    },
    {
        "id": "5292643e.bc8c8c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 379.2120361328125,
        "y": 2350.7818603515625,
        "wires": []
    },
    {
        "id": "6ff11bfe.123674",
        "type": "play audio",
        "z": "6db5641.c4bb3a",
        "name": "",
        "voice": "4",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "a37f7d3c.fed33",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "Keyboard geht",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "6ff11bfe.123674"
            ]
        ]
    },
    {
        "id": "d24e396.28bc0c8",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "mpc",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 524.5189819335938,
        "y": 1344.1829528808594,
        "wires": [
            [
                "49472915.b6b8d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "9551d5cc.91d278",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "Stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "stop",
        "x": 401.3820495605469,
        "y": 1271.2210540771484,
        "wires": [
            [
                "d24e396.28bc0c8"
            ]
        ]
    },
    {
        "id": "96ac260e.522138",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "volume -10",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "volume -10",
        "x": 373.49693298339844,
        "y": 1425.1411743164062,
        "wires": [
            [
                "d24e396.28bc0c8"
            ]
        ]
    },
    {
        "id": "6866a802.3c6558",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "volume +10",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "volume +10",
        "x": 371.7123260498047,
        "y": 1467.896240234375,
        "wires": [
            [
                "d24e396.28bc0c8"
            ]
        ]
    },
    {
        "id": "756e8bbe.e01734",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 750,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3734b627.a2be5a",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "pause",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 151.46298217773438,
        "y": 1747.4969635009766,
        "wires": [
            [
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "14568c06.a201e4",
        "type": "tcp request",
        "z": "6db5641.c4bb3a",
        "server": "localhost",
        "port": "6600",
        "out": "sit",
        "splitc": "0",
        "name": "localhost:6600",
        "x": 540,
        "y": 1740,
        "wires": [
            [
                "756e8bbe.e01734",
                "fb0a2539.84bdc8",
                "b96802f.9f053"
            ]
        ]
    },
    {
        "id": "78ea7ce6.7f5ae4",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "+status",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "command_list_begin\n{{payload}}\ncurrentsong\nplaylistinfo\nstatus\ncommand_list_end\n",
        "x": 360,
        "y": 1740,
        "wires": [
            [
                "14568c06.a201e4"
            ]
        ]
    },
    {
        "id": "cde6661a.cd2638",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 149.33599853515625,
        "y": 1785.1200103759766,
        "wires": [
            [
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "3361c60.d74463a",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "play",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150.21701049804688,
        "y": 1711.0013427734375,
        "wires": [
            [
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "af2d9487.677df8",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "b3090ee2.8fdbf",
        "client": "",
        "x": 130,
        "y": 1840,
        "wires": [
            [
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "fb0a2539.84bdc8",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "b3090ee2.8fdbf",
        "client": "",
        "x": 610,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b96802f.9f053",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "aktueller Sender",
        "func": "var a=msg.payload;\nb=\"\";\nfor (var i=0;i<a.length;i++) {\n  b=b+String.fromCharCode(a[i]);\n  }\nvar c=b.indexOf(\"Name:\");\nvar d=b.indexOf(\"\\n\",c);\nmsg.payload=b.slice(c+6,d);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 1740,
        "wires": [
            [
                "e33889a9.1cc778",
                "2afa865b.e531aa"
            ]
        ]
    },
    {
        "id": "7aeae711.528d08",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "-l de-DE -w lookdave.wav \"{{payload}}\" && play lookdave.wav pitch 80",
        "x": 410,
        "y": 2040,
        "wires": [
            [
                "ce74b1b4.21e7b",
                "335eaee7.4be342"
            ]
        ]
    },
    {
        "id": "ce74b1b4.21e7b",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "pico2wave",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "pico2wave",
        "x": 630,
        "y": 2040,
        "wires": [
            [
                "54e925db.414c6c"
            ],
            [
                "54e925db.414c6c"
            ],
            [
                "54e925db.414c6c"
            ]
        ]
    },
    {
        "id": "23aa4a14.e34856",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 1620,
        "wires": []
    },
    {
        "id": "6be123d5.2771fc",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": " Miditasten->\"stop,play,...\"",
        "func": "var a=msg.payload;\nvar b=\"\";\nif (a[1]==127) {\n  if (a[0]==93) b=\"stop\";\n  if (a[0]==94) b=\"play\";\n  if (a[0]==95) b=\"\";\n  if (a[0]==96) b=\"next\";\n  if (a[0]==97) b=\"previous\";\n  if (a[0]==98) b=\"volume -10\";\n  if (a[0]==99) b=\"volume +10\";\n  if (a[0]==100) b=\"pause\";\n  }\nmsg.payload=b;\nif (b!=\"\") return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1520,
        "wires": [
            [
                "23aa4a14.e34856",
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "362a7838.c19da8",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "neue Email",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Neue Email für backebackekuchensechzehn gmailpunktkomm",
        "output": "str",
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "69816036.48905"
            ]
        ]
    },
    {
        "id": "bafe7349.33b1",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "hallihallo",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "hahallihallo",
        "output": "str",
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "f26a4110.0d95c",
                "6aed06bd.9f8518"
            ]
        ]
    },
    {
        "id": "6aed06bd.9f8518",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "1l",
        "links": [
            "81532115.8324a"
        ],
        "x": 1235,
        "y": 660,
        "wires": []
    },
    {
        "id": "81532115.8324a",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "Vorlesen (\"vorzulesenden Text\" hinschicken)",
        "links": [
            "2afa865b.e531aa",
            "69816036.48905",
            "6aed06bd.9f8518",
            "8261573b.4f60a8",
            "99300057.54375",
            "bba731f2.13b46",
            "ea58d61c.834528",
            "ece9ebe1.a5ce58",
            "63f8eeaa.8eef",
            "92a3be82.d5974",
            "7727f9f7.a01dc8",
            "49cf4e36.f692a",
            "79ae5f6.3f22fa",
            "6413a0a9.53041",
            "e11cb4bd.3c51f8"
        ],
        "x": 255,
        "y": 2040,
        "wires": [
            [
                "7aeae711.528d08"
            ]
        ]
    },
    {
        "id": "3d25faaf.2adb46",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "5",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hallihallo",
        "output": "str",
        "x": 770,
        "y": 620,
        "wires": [
            [
                "65e406ec.847bb8"
            ]
        ]
    },
    {
        "id": "5783bfdc.9e55e",
        "type": "daemon",
        "z": "6db5641.c4bb3a",
        "command": "ssh",
        "args": "stefan@192.168.1.5 gap -L GAP_WORKSPACE",
        "cr": true,
        "redo": false,
        "op": "string",
        "name": "ssh asterix gap",
        "x": 320,
        "y": 2500,
        "wires": [
            [
                "ad406af9.72e098",
                "6b862415.34829c"
            ],
            [
                "ad406af9.72e098",
                "6b862415.34829c"
            ],
            [
                "ad406af9.72e098"
            ]
        ]
    },
    {
        "id": "ad406af9.72e098",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 560,
        "y": 2540,
        "wires": []
    },
    {
        "id": "aeb6ff6a.94b7a",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "10^100;",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 2500,
        "wires": [
            [
                "5783bfdc.9e55e"
            ]
        ]
    },
    {
        "id": "40b6b210.58ea3c",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "9a72b171.4ae32",
        "client": "",
        "x": 110,
        "y": 2680,
        "wires": [
            [
                "aa0ccf8f.7abcf",
                "f6d68234.d3477",
                "425be886.805678"
            ]
        ]
    },
    {
        "id": "6b862415.34829c",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "9a72b171.4ae32",
        "client": "",
        "x": 550,
        "y": 2500,
        "wires": []
    },
    {
        "id": "54e925db.414c6c",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 2040,
        "wires": []
    },
    {
        "id": "c97cc29a.b4369",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Test",
        "info": "",
        "x": 50,
        "y": 60,
        "wires": []
    },
    {
        "id": "988278d.eefa488",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Dropbox",
        "info": "",
        "x": 60,
        "y": 100,
        "wires": []
    },
    {
        "id": "65e406ec.847bb8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "getMinutes",
        "func": "var d=new Date();\nmsg.payload=d.getHours()+\" Uhr \"+d.getMinutes();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "6aed06bd.9f8518",
                "f26a4110.0d95c"
            ]
        ]
    },
    {
        "id": "cfc8ce4e.55f3",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "MPLA",
        "info": "",
        "x": 50,
        "y": 600,
        "wires": []
    },
    {
        "id": "3b93e40d.8e069c",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 960,
        "y": 540,
        "wires": [
            [
                "bafe7349.33b1"
            ]
        ]
    },
    {
        "id": "aa0ccf8f.7abcf",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "SIGQUIT",
        "func": "if (msg.payload==\"QUIT;\") {\n  delete msg.payload;\n  msg.kill=\"\";\n  //msg.start=\"\";\n  }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 2700,
        "wires": [
            [
                "5783bfdc.9e55e"
            ]
        ]
    },
    {
        "id": "cf07b994.7bc088",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "QUIT;",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 2620,
        "wires": [
            [
                "aa0ccf8f.7abcf",
                "f6d68234.d3477"
            ]
        ]
    },
    {
        "id": "55fb2b28.2a8234",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Email",
        "info": "",
        "x": 50,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b4400177.526bf",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var z=msg.payload;\nvar i=z.indexOf(\"counterInt = Math.round(\");\nvar n=z.slice(i+24,i+31);\nnode.status({text:n});\nmsg.payload=n;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 3100,
        "wires": [
            [
                "a1254c6c.2751d"
            ]
        ]
    },
    {
        "id": "c3aa4517.eec428",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Kartoffelpreis",
        "info": "",
        "x": 70,
        "y": 2980,
        "wires": []
    },
    {
        "id": "fc0bc526.420578",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "table",
        "func": "var pos=msg.payload.indexOf(\"boerseTitleKurs\")+42;\nvar pos2=pos+6;\nvar Kartoffelpreis=msg.payload.slice(pos,pos2);\nglobal.set(\"Kartoffelpreis\",Kartoffelpreis);\nnode.status({text:Kartoffelpreis});\nmsg.payload=Kartoffelpreis;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 2980,
        "wires": [
            [
                "967251e8.941b2",
                "4e93ceb3.9d20d"
            ]
        ]
    },
    {
        "id": "ecde208d.58284",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.raiffeisen.com/markt/telegramm/produkt/eex/kartoffeln/index.html",
        "tls": "",
        "x": 540,
        "y": 2980,
        "wires": [
            [
                "fc0bc526.420578"
            ]
        ]
    },
    {
        "id": "4e93ceb3.9d20d",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 1000,
        "y": 2920,
        "wires": []
    },
    {
        "id": "926ab3d6.3b4d",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "jede vollen Stunde",
        "topic": "jede volle Stunde",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": false,
        "x": 220,
        "y": 2820,
        "wires": [
            [
                "f22fb0b8.463bc",
                "429efda9.c73894",
                "f259d292.77bcb",
                "16a17718.e9fe89"
            ]
        ]
    },
    {
        "id": "20910576.06a36a",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.grs-batterien.de",
        "tls": "",
        "x": 390,
        "y": 3100,
        "wires": [
            [
                "b4400177.526bf"
            ]
        ]
    },
    {
        "id": "c2f79d15.1e11c",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "x": 210,
        "y": 3100,
        "wires": [
            [
                "20910576.06a36a"
            ]
        ]
    },
    {
        "id": "1e6ae275.37025e",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 940,
        "y": 3100,
        "wires": []
    },
    {
        "id": "dd42b93b.f89838",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "GRS",
        "info": "",
        "x": 50,
        "y": 3100,
        "wires": []
    },
    {
        "id": "c06c99a1.1a2e48",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 2740,
        "wires": [
            [
                "5783bfdc.9e55e"
            ]
        ]
    },
    {
        "id": "f6d68234.d3477",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "start",
        "func": "if (msg.payload==\"QUIT;\") {\n  msg.payload=\"\";\n  msg.start=\"\";\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 2740,
        "wires": [
            [
                "c06c99a1.1a2e48"
            ]
        ]
    },
    {
        "id": "425be886.805678",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "tmmok tekcosbew mov saw",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 380,
        "y": 2640,
        "wires": []
    },
    {
        "id": "82dc3df.ee113c",
        "type": "rbe",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "f26a4110.0d95c",
                "3b93e40d.8e069c",
                "c20cbcfe.3df34"
            ]
        ]
    },
    {
        "id": "967251e8.941b2",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Der aktuelle Kartoffelpreis beträgt {{payload}} !",
        "output": "str",
        "x": 970,
        "y": 2980,
        "wires": [
            [
                "8261573b.4f60a8"
            ]
        ]
    },
    {
        "id": "8261573b.4f60a8",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "vorlesen",
        "links": [
            "81532115.8324a"
        ],
        "x": 1095,
        "y": 2980,
        "wires": []
    },
    {
        "id": "e608d4f3.a97808",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 3040,
        "wires": [
            [
                "20910576.06a36a",
                "56443a35.84f154"
            ]
        ]
    },
    {
        "id": "ea58d61c.834528",
        "type": "link out",
        "z": "27abbd1e.d85442",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 895,
        "y": 40,
        "wires": []
    },
    {
        "id": "5ad39d6d.d5ff14",
        "type": "delay",
        "z": "27abbd1e.d85442",
        "name": "",
        "pauseType": "delay",
        "timeout": "70",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 40,
        "wires": [
            [
                "145cc1da.eba33e"
            ]
        ]
    },
    {
        "id": "d31a187a.032df8",
        "type": "function",
        "z": "27abbd1e.d85442",
        "name": "",
        "func": "var a=msg.payload;\nmsg.payload=\"Die aktuelle CPU-Temperatur beträgt \"+a.slice(5,9).replace(/\\./g,\",\")+\" Grad Celsius\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 40,
        "wires": [
            [
                "ea58d61c.834528"
            ]
        ]
    },
    {
        "id": "89ffdc93.f138e",
        "type": "inject",
        "z": "27abbd1e.d85442",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "145cc1da.eba33e"
            ]
        ]
    },
    {
        "id": "a1254c6c.2751d",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}} Batterieen wurden an einem Tag resükelt.",
        "output": "str",
        "x": 730,
        "y": 3100,
        "wires": [
            [
                "1e6ae275.37025e",
                "8261573b.4f60a8"
            ]
        ]
    },
    {
        "id": "f22fb0b8.463bc",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "9",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 370,
        "y": 2940,
        "wires": [
            [
                "ecde208d.58284",
                "e608d4f3.a97808"
            ]
        ]
    },
    {
        "id": "56443a35.84f154",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 3140,
        "wires": [
            [
                "978b1238.07a04",
                "f4cbad84.51158"
            ]
        ]
    },
    {
        "id": "978b1238.07a04",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Im Keller ist das Licht an oder auch nicht, schau selber mal nach.",
        "output": "str",
        "x": 610,
        "y": 3160,
        "wires": [
            [
                "ece9ebe1.a5ce58"
            ]
        ]
    },
    {
        "id": "ece9ebe1.a5ce58",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 835,
        "y": 3160,
        "wires": []
    },
    {
        "id": "615309bd.e76288",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 260,
        "y": 3160,
        "wires": [
            [
                "978b1238.07a04"
            ]
        ]
    },
    {
        "id": "6bf24285.5f09fc",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Kellerlicht",
        "info": "",
        "x": 60,
        "y": 3160,
        "wires": []
    },
    {
        "id": "e4f0e858.202fb8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 3040,
        "wires": [
            [
                "e608d4f3.a97808"
            ]
        ]
    },
    {
        "id": "429efda9.c73894",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "stop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "stop",
        "output": "str",
        "x": 610,
        "y": 2860,
        "wires": [
            [
                "218a882b.b25b98"
            ]
        ]
    },
    {
        "id": "e9c94d79.019de",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "mpc (play/play 4/pause/stop/volume 80)",
        "links": [
            "218a882b.b25b98",
            "288c235f.ceb5fc"
        ],
        "x": 132,
        "y": 1655,
        "wires": [
            [
                "78ea7ce6.7f5ae4"
            ]
        ]
    },
    {
        "id": "218a882b.b25b98",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "e9c94d79.019de"
        ],
        "x": 875,
        "y": 2880,
        "wires": [],
        "inputLabels": [
            "zum mpc"
        ]
    },
    {
        "id": "16a17718.e9fe89",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 2900,
        "wires": [
            [
                "f3e30c12.3444d"
            ]
        ]
    },
    {
        "id": "f3e30c12.3444d",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "play",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "play",
        "output": "str",
        "x": 610,
        "y": 2900,
        "wires": [
            [
                "42742e53.14c92"
            ]
        ]
    },
    {
        "id": "f259d292.77bcb",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 2820,
        "wires": [
            [
                "a395fed2.65df1",
                "429efda9.c73894"
            ]
        ]
    },
    {
        "id": "a395fed2.65df1",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 2820,
        "wires": [
            [
                "f3e30c12.3444d"
            ]
        ]
    },
    {
        "id": "69816036.48905",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "zum Vorlesen",
        "links": [
            "81532115.8324a"
        ],
        "x": 695,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2afa865b.e531aa",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "zum Vorlesen",
        "links": [
            "81532115.8324a"
        ],
        "x": 943,
        "y": 1749,
        "wires": []
    },
    {
        "id": "335eaee7.4be342",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "zum Vorlesen",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 560,
        "y": 2080,
        "wires": []
    },
    {
        "id": "6aff0907.81ba08",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Vorlesen",
        "info": "",
        "x": 64,
        "y": 2038,
        "wires": []
    },
    {
        "id": "3fb7fbfe.8f7d04",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Nachrichten ausblenden",
        "info": "",
        "x": 110,
        "y": 2900,
        "wires": []
    },
    {
        "id": "3f34c165.c9167e",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 1100,
        "wires": [
            [
                "362a7838.c19da8"
            ]
        ]
    },
    {
        "id": "71128f93.6e842",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "gap",
        "info": "",
        "x": 50,
        "y": 2460,
        "wires": []
    },
    {
        "id": "6a76c4d5.44226c",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "Heizung",
        "info": "",
        "x": 60,
        "y": 3220,
        "wires": []
    },
    {
        "id": "f4cbad84.51158",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 3180,
        "wires": [
            [
                "9bf1e5e9.17f3f8",
                "b7bb6232.cd4b9"
            ]
        ]
    },
    {
        "id": "dc90b976.2d8558",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 2980,
        "wires": [
            [
                "ecde208d.58284"
            ]
        ]
    },
    {
        "id": "d107a0bc.0f6f6",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "",
        "client": "3f6ae5bd.87ed9a",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "362a7838.c19da8"
            ]
        ]
    },
    {
        "id": "ca582120.5490b",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 2880,
        "wires": [
            [
                "429efda9.c73894"
            ]
        ]
    },
    {
        "id": "359d122b.1f830e",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180,
        "y": 3000,
        "wires": [
            [
                "f3e30c12.3444d"
            ]
        ]
    },
    {
        "id": "9bf1e5e9.17f3f8",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 400,
        "y": 3220,
        "wires": [
            [
                "b92e8176.0ed52",
                "3900153b.bc9b8a",
                "827d5fef.e3e1e"
            ]
        ]
    },
    {
        "id": "b92e8176.0ed52",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 220,
        "y": 3280,
        "wires": [
            [
                "50d21cbc.b0d834"
            ]
        ]
    },
    {
        "id": "f826ca3c.966c28",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 3220,
        "wires": [
            [
                "9bf1e5e9.17f3f8"
            ]
        ]
    },
    {
        "id": "50d21cbc.b0d834",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "unlocked zwecks Statusabfrage",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 8000",
        "output": "str",
        "x": 470,
        "y": 3280,
        "wires": [
            [
                "3900153b.bc9b8a"
            ]
        ]
    },
    {
        "id": "3900153b.bc9b8a",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "",
        "client": "97ba118a.d6135",
        "x": 790,
        "y": 3280,
        "wires": []
    },
    {
        "id": "827d5fef.e3e1e",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 580,
        "y": 3220,
        "wires": []
    },
    {
        "id": "1cdef5b2.5e4aca",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "",
        "client": "97ba118a.d6135",
        "x": 260,
        "y": 3340,
        "wires": [
            [
                "d3226500.37fb28"
            ]
        ]
    },
    {
        "id": "d3226500.37fb28",
        "type": "join",
        "z": "6db5641.c4bb3a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "25",
        "count": "",
        "x": 490,
        "y": 3340,
        "wires": [
            [
                "8ae53858.c332b8",
                "7538a676.94ee58"
            ]
        ]
    },
    {
        "id": "8ae53858.c332b8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var p=msg.payload;\nvar ind=p.indexOf(\"Notification\");\nif (ind>-1) {\n  var t=p.slice(ind,ind+53);\n  msg.payload=t;\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 3340,
        "wires": [
            [
                "36763404.d2f0ec"
            ]
        ]
    },
    {
        "id": "7538a676.94ee58",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "payload",
        "x": 760,
        "y": 3400,
        "wires": []
    },
    {
        "id": "36763404.d2f0ec",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var t=msg.payload.slice(-2);\nvar tt=eval(\"0x\"+t)/2;\nmsg.payload=tt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 3340,
        "wires": [
            [
                "7538a676.94ee58",
                "6b68efec.9fe1d"
            ]
        ]
    },
    {
        "id": "6b68efec.9fe1d",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Die Heiztemperatur ist eingestellt auf {{payload}} Grad Celsius.",
        "output": "str",
        "x": 970,
        "y": 3340,
        "wires": [
            [
                "7538a676.94ee58",
                "bba731f2.13b46"
            ]
        ]
    },
    {
        "id": "bba731f2.13b46",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 1095,
        "y": 3340,
        "wires": []
    },
    {
        "id": "df0db149.0939",
        "type": "mqtt in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "Testheini78x11/psswd_ha72z",
        "qos": "2",
        "broker": "2f4de0fa.55c6f",
        "x": 180,
        "y": 3440,
        "wires": [
            [
                "1019e656.e5f43a"
            ]
        ]
    },
    {
        "id": "77679654.504c68",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "m",
        "output": "str",
        "x": 450,
        "y": 3440,
        "wires": [
            [
                "99300057.54375"
            ]
        ]
    },
    {
        "id": "99300057.54375",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 675,
        "y": 3440,
        "wires": []
    },
    {
        "id": "5bab66d3.a59858",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "Radio an",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 3500,
        "wires": [
            [
                "608eb4b2.391abc"
            ]
        ]
    },
    {
        "id": "8de9f1a8.88933",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "Radio aus",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 3560,
        "wires": [
            [
                "608eb4b2.391abc"
            ]
        ]
    },
    {
        "id": "608eb4b2.391abc",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var m=msg.payload;\nif (m==\"Radio an\") {\n  msg.payload=\"play\";\n  global.set(\"Radio\",\"an\");\n  return msg;\n  }\nif (m==\"Radio aus\") {\n  msg.payload=\"stop\";\n  global.set(\"Radio\",\"aus\");\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 3520,
        "wires": [
            [
                "288c235f.ceb5fc"
            ]
        ]
    },
    {
        "id": "288c235f.ceb5fc",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "e9c94d79.019de"
        ],
        "x": 675,
        "y": 3520,
        "wires": []
    },
    {
        "id": "18da1902.7b9897",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "mqtt",
        "info": "",
        "x": 50,
        "y": 3400,
        "wires": []
    },
    {
        "id": "42742e53.14c92",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var r=global.get(\"Radio\")||\"aus\";\nif (r==\"an\") return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 2900,
        "wires": [
            [
                "218a882b.b25b98"
            ]
        ]
    },
    {
        "id": "a5ca926b.dc3bc",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "? help",
        "func": "var m=msg.payload;\nif (m==\"?\") {\n  msg.payload=\"Antwort von <a href='https://github.com/OpaStefanVogel/RADIOPI'>Radio</a>:<div style='border:solid; border-color: aquamarine'><code>Radio an</code><br/><code>Radio aus</code></div>\";\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 3581,
        "wires": [
            [
                "18cef77a.2267d9",
                "3adb4c1.c1eeab4",
                "3b88e18a.72a55e"
            ]
        ]
    },
    {
        "id": "3adb4c1.c1eeab4",
        "type": "mqtt out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "Testheini78x11/psswd_ha72z",
        "qos": "",
        "retain": "",
        "broker": "2f4de0fa.55c6f",
        "x": 730,
        "y": 3580,
        "wires": []
    },
    {
        "id": "18cef77a.2267d9",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 3640,
        "wires": []
    },
    {
        "id": "f2413a05.90ff08",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "Hah",
        "topic": "",
        "payload": "Hah hatter gesacht",
        "payloadType": "str",
        "repeat": "",
        "crontab": "0 10-15 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1920,
        "wires": [
            [
                "7727f9f7.a01dc8"
            ]
        ]
    },
    {
        "id": "56c747d1.5fb9e8",
        "type": "mqtt in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "Test",
        "qos": "2",
        "broker": "2f4de0fa.55c6f",
        "x": 150,
        "y": 3700,
        "wires": [
            [
                "18cef77a.2267d9"
            ]
        ]
    },
    {
        "id": "1e6c1ecb.bff2a1",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "b6a85d50.5b4fb",
        "client": "",
        "x": 240,
        "y": 3400,
        "wires": [
            [
                "1019e656.e5f43a"
            ]
        ]
    },
    {
        "id": "1019e656.e5f43a",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 3400,
        "wires": [
            [
                "77679654.504c68",
                "608eb4b2.391abc",
                "a5ca926b.dc3bc"
            ]
        ]
    },
    {
        "id": "3b88e18a.72a55e",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "b6a85d50.5b4fb",
        "client": "",
        "x": 810,
        "y": 3540,
        "wires": []
    },
    {
        "id": "565bd866.30d098",
        "type": "daemon",
        "z": "6db5641.c4bb3a",
        "command": "aseqdump",
        "args": "-p 20:0",
        "cr": false,
        "redo": true,
        "op": "string",
        "name": "",
        "x": 270,
        "y": 3720,
        "wires": [
            [
                "a279e5d2.3a6448",
                "b4943e69.7b43"
            ],
            [],
            []
        ]
    },
    {
        "id": "251398ed.ed0b08",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "midi ersatz node",
        "info": "",
        "x": 80,
        "y": 3720,
        "wires": []
    },
    {
        "id": "a279e5d2.3a6448",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 590,
        "y": 3700,
        "wires": []
    },
    {
        "id": "fc55ae71.3ef53",
        "type": "daemon",
        "z": "6db5641.c4bb3a",
        "command": "aseqdump",
        "args": "-p 20:1",
        "cr": false,
        "redo": true,
        "op": "string",
        "name": "",
        "x": 270,
        "y": 3800,
        "wires": [
            [
                "a279e5d2.3a6448",
                "2e5ec969.e30866"
            ],
            [],
            []
        ]
    },
    {
        "id": "2e5ec969.e30866",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "msg.payload=msg.payload.slice(13,16).trim()+\" \"+msg.payload.slice(39,43).trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 3820,
        "wires": [
            [
                "a279e5d2.3a6448",
                "a5203f41.deddb"
            ]
        ]
    },
    {
        "id": "a5203f41.deddb",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "midi 20:1",
        "links": [
            "2e159747.398188"
        ],
        "x": 540,
        "y": 3840,
        "wires": []
    },
    {
        "id": "12628af5.84a885",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var m=msg.payload;\nif (m==\"on 93,\") {msg.payload=\"Radio aus\"; return msg}\nif (m==\"on 94,\") {msg.payload=\"Radio an\"; return msg}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 3580,
        "wires": [
            [
                "608eb4b2.391abc"
            ]
        ]
    },
    {
        "id": "2e159747.398188",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "a5203f41.deddb"
        ],
        "x": 300,
        "y": 3640,
        "wires": [
            [
                "12628af5.84a885"
            ]
        ]
    },
    {
        "id": "b4943e69.7b43",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload.slice(52,55).trim()==\"1\") {\n  msg.payload=msg.payload.slice(13,16).trim()+\" \"+msg.payload.slice(39,43).trim();\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 3680,
        "wires": [
            [
                "a279e5d2.3a6448",
                "351b3ef8.5ed6d2"
            ]
        ]
    },
    {
        "id": "351b3ef8.5ed6d2",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "midi 20:0 volume 1",
        "links": [
            "8609cd65.79645",
            "f29c9b74.e44a38",
            "5b888ce0.3157f4",
            "9ab5acbf.da7a3",
            "613f8f59.7c6d4",
            "2709e0bc.930ae",
            "4ba31516.c2436c",
            "dd724e25.c6744",
            "54de5653.bab3e8",
            "757e8ee5.60481"
        ],
        "x": 535,
        "y": 3660,
        "wires": []
    },
    {
        "id": "8609cd65.79645",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 535,
        "y": 3780,
        "wires": [
            [
                "63f8eeaa.8eef"
            ]
        ]
    },
    {
        "id": "63f8eeaa.8eef",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 655,
        "y": 3780,
        "wires": []
    },
    {
        "id": "fa2f70eb.e3cd6",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "nächster Bus",
        "info": "",
        "x": 70,
        "y": 3900,
        "wires": []
    },
    {
        "id": "f29c9b74.e44a38",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 215,
        "y": 3900,
        "wires": [
            [
                "d889c6da.67dae8"
            ]
        ]
    },
    {
        "id": "d20f035f.4f249",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.cvag.de/eza/mis/stops/station/CAG-192",
        "tls": "",
        "x": 550,
        "y": 3900,
        "wires": [
            [
                "1e8dae29.e802c2",
                "8cfaf51b.90f458"
            ]
        ]
    },
    {
        "id": "d889c6da.67dae8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 36,\") {\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 3900,
        "wires": [
            [
                "8880b55a.372e08"
            ]
        ]
    },
    {
        "id": "1e8dae29.e802c2",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 3900,
        "wires": []
    },
    {
        "id": "ea53f4cc.925618",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "ssh",
        "addpay": false,
        "append": "pi@localhost wget -O CAG-192 http://www.cvag.de/eza/mis/stops/station/CAG-192",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Gablenz ü. Weststr.",
        "x": 550,
        "y": 3980,
        "wires": [
            [
                "1e8dae29.e802c2"
            ],
            [
                "1e8dae29.e802c2"
            ],
            [
                "fcb36d9.090159",
                "ac2116c0.1e4e78",
                "b3bbee59.e2eae"
            ]
        ]
    },
    {
        "id": "fcb36d9.090159",
        "type": "file in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "filename": "CAG-192",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 720,
        "y": 4020,
        "wires": [
            [
                "8cfaf51b.90f458"
            ]
        ]
    },
    {
        "id": "8cfaf51b.90f458",
        "type": "json",
        "z": "6db5641.c4bb3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 3980,
        "wires": [
            [
                "1e8dae29.e802c2",
                "9926fd6d.500d7"
            ]
        ]
    },
    {
        "id": "9926fd6d.500d7",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var s=msg.payload.stops;\nvar i=s.length;\nvar j=0;\nwhile (i>0) {\n  i=i-1;\n  if (s[i].destination.indexOf(\"Yorckgebiet\")>-1) j=i;\n  }\nvar diff=Math.floor((s[j].actualDeparture-msg.payload.now)/1000);\nvar minu=Math.floor(diff/60);\nvar seku=diff-minu*60;\nmsg.payload=\"Nächster Bus Linie 31 fährt in \"+minu+\" Minuten und \"+seku+\" Sekunden.\";\nvar msg2=null;\nif (minu>0) msg2=msg;\nnode.status({text:minu+\":\"+seku+\" \"+s[j].destination});\nreturn [msg,msg2];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 990,
        "y": 3980,
        "wires": [
            [
                "199cc2fc.c49ccd"
            ],
            [
                "f718ef2b.0c73e"
            ]
        ]
    },
    {
        "id": "92a3be82.d5974",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 1155,
        "y": 3980,
        "wires": []
    },
    {
        "id": "7727f9f7.a01dc8",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 220,
        "y": 1960,
        "wires": []
    },
    {
        "id": "199cc2fc.c49ccd",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1060,
        "y": 3900,
        "wires": [
            [
                "92a3be82.d5974"
            ]
        ]
    },
    {
        "id": "ce9e35bb.b486c8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "Test",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 3980,
        "wires": [
            [
                "8880b55a.372e08"
            ]
        ]
    },
    {
        "id": "a6ab2ab7.baaff8",
        "type": "http request",
        "z": "6db5641.c4bb3a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "x": 500,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "ac2116c0.1e4e78",
        "type": "debug",
        "z": "6db5641.c4bb3a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 4060,
        "wires": []
    },
    {
        "id": "b3bbee59.e2eae",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload.code==8) {msg.payload=\"www Punkt Zeh Vau Ah Geh Punkt Deh Eh hat die Frage nach der Abfahrt des nächsten Busses nicht erlaubt.\";\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 4040,
        "wires": [
            [
                "92a3be82.d5974"
            ]
        ]
    },
    {
        "id": "f718ef2b.0c73e",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 3940,
        "wires": [
            [
                "8880b55a.372e08"
            ]
        ]
    },
    {
        "id": "8880b55a.372e08",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 340,
        "y": 3980,
        "wires": [
            [
                "ea53f4cc.925618"
            ]
        ]
    },
    {
        "id": "f0e778ad.08b4c8",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "ssh",
        "addpay": false,
        "append": "pi@localhost wget -O CAG-194 http://www.cvag.de/eza/mis/stops/station/CAG-194",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Gablenz ü. Weststr.",
        "x": 550,
        "y": 4220,
        "wires": [
            [],
            [],
            [
                "f06ddb1c.dfea48",
                "e7f9e4bb.a61ba8"
            ]
        ]
    },
    {
        "id": "4b5fbfb7.4a63b",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 340,
        "y": 4220,
        "wires": [
            [
                "f0e778ad.08b4c8"
            ]
        ]
    },
    {
        "id": "69dd8cc9.6e20f4",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 37,\") {\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 4120,
        "wires": [
            [
                "4b5fbfb7.4a63b"
            ]
        ]
    },
    {
        "id": "5b888ce0.3157f4",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 220,
        "y": 4092,
        "wires": [
            [
                "69dd8cc9.6e20f4"
            ]
        ]
    },
    {
        "id": "ba2cd6e.d370828",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "Test",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 4220,
        "wires": [
            [
                "4b5fbfb7.4a63b"
            ]
        ]
    },
    {
        "id": "f06ddb1c.dfea48",
        "type": "file in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "filename": "CAG-194",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 720,
        "y": 4260,
        "wires": [
            [
                "9737f8d3.b43028"
            ]
        ]
    },
    {
        "id": "9737f8d3.b43028",
        "type": "json",
        "z": "6db5641.c4bb3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 4200,
        "wires": [
            [
                "fc4e639b.35ed"
            ]
        ]
    },
    {
        "id": "fc4e639b.35ed",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "var s=msg.payload.stops;\nvar i=s.length;\nvar j=0;\nwhile (i>0) {\n  i=i-1;\n  if (s[i].destination.indexOf(\"Gablenz ü. Weststr.\")>-1) j=i;\n  }\nvar diff=Math.floor((s[j].actualDeparture-msg.payload.now)/1000);\nvar minu=Math.floor(diff/60);\nvar seku=diff-minu*60;\nmsg.payload=\"Nächster Bus Linie 62 Richtung Gaah blenz über Weststraße fährt in \"+minu+\" Minuten und \"+seku+\" Sekunden.\";\nvar msg2=null;\nif (minu>0) msg2=msg;\nnode.status({text:minu+\":\"+seku+\" \"+s[j].destination});\nreturn [msg,msg2];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 990,
        "y": 4200,
        "wires": [
            [
                "639f4134.918e1"
            ],
            []
        ]
    },
    {
        "id": "639f4134.918e1",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1080,
        "y": 4100,
        "wires": [
            [
                "49cf4e36.f692a"
            ]
        ]
    },
    {
        "id": "49cf4e36.f692a",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 1155,
        "y": 4160,
        "wires": []
    },
    {
        "id": "e7f9e4bb.a61ba8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload.code==8) {msg.payload=\"www Punkt Zeh Vau Ah Geh Punkt Deh Eh hat die Frage nach der Abfahrt des nächsten Busses nicht erlaubt.\";\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 4280,
        "wires": [
            [
                "49cf4e36.f692a"
            ]
        ]
    },
    {
        "id": "a37c2ef9.42009",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 38,\") {\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 2940,
        "wires": [
            [
                "5bc00a2c.d5b4d4"
            ]
        ]
    },
    {
        "id": "9ab5acbf.da7a3",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 35,
        "y": 2940,
        "wires": [
            [
                "a37c2ef9.42009"
            ]
        ]
    },
    {
        "id": "5bc00a2c.d5b4d4",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 2960,
        "wires": [
            [
                "ecde208d.58284"
            ]
        ]
    },
    {
        "id": "ccbcced4.0f523",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 39,\") {\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 3180,
        "wires": [
            [
                "94abbf5f.90da1"
            ]
        ]
    },
    {
        "id": "613f8f59.7c6d4",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 75,
        "y": 3180,
        "wires": [
            [
                "ccbcced4.0f523"
            ]
        ]
    },
    {
        "id": "94abbf5f.90da1",
        "type": "delay",
        "z": "6db5641.c4bb3a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 3180,
        "wires": [
            [
                "9bf1e5e9.17f3f8",
                "f11c663e.12c768"
            ]
        ]
    },
    {
        "id": "f11c663e.12c768",
        "type": "template",
        "z": "6db5641.c4bb3a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Moment, Ansage der Heizungstemperatur erfolgt in 20 Sekunden.",
        "output": "str",
        "x": 660,
        "y": 3200,
        "wires": [
            [
                "79ae5f6.3f22fa"
            ]
        ]
    },
    {
        "id": "79ae5f6.3f22fa",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "vorlesen",
        "links": [
            "81532115.8324a"
        ],
        "x": 799,
        "y": 3211,
        "wires": []
    },
    {
        "id": "28616a1a.ad7df6",
        "type": "comment",
        "z": "6db5641.c4bb3a",
        "name": "",
        "info": "",
        "x": 100,
        "y": 4280,
        "wires": []
    },
    {
        "id": "47e21606.f5c5a8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "play 4",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 4320,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "cda3599a.7b18e8",
        "type": "exec",
        "z": "6db5641.c4bb3a",
        "command": "mpc",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 4340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4d0d16c2.a7bca8",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "play 2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 4400,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "e5ed1ed2.c520d",
        "type": "inject",
        "z": "6db5641.c4bb3a",
        "name": "",
        "topic": "",
        "payload": "play 3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 4480,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "a72d2821.8a6ef8",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 40,\") {\n  msg.payload=\"play 4\"\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 4360,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "2709e0bc.930ae",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 55,
        "y": 4360,
        "wires": [
            [
                "a72d2821.8a6ef8"
            ]
        ]
    },
    {
        "id": "cb2b3052.10e",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 41,\") {\n  msg.payload=\"play 2\"\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 4440,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "2410908d.0332",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 42,\") {\n  msg.payload=\"play 3\"\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 4520,
        "wires": [
            [
                "cda3599a.7b18e8"
            ]
        ]
    },
    {
        "id": "4ba31516.c2436c",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 55,
        "y": 4440,
        "wires": [
            [
                "cb2b3052.10e"
            ]
        ]
    },
    {
        "id": "dd724e25.c6744",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 55,
        "y": 4519.6416015625,
        "wires": [
            [
                "2410908d.0332"
            ]
        ]
    },
    {
        "id": "54de5653.bab3e8",
        "type": "link in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 55,
        "y": 4620,
        "wires": [
            [
                "d1764928.2ce838"
            ]
        ]
    },
    {
        "id": "d1764928.2ce838",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "if (msg.payload==\"on 43,\") {\n  msg.payload=\"?\";\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 4620,
        "wires": [
            [
                "e4a71ee9.55379"
            ]
        ]
    },
    {
        "id": "6413a0a9.53041",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 1055,
        "y": 4680,
        "wires": []
    },
    {
        "id": "e4a71ee9.55379",
        "type": "websocket out",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "",
        "client": "9e485ce1.d54c1",
        "x": 460,
        "y": 4620,
        "wires": []
    },
    {
        "id": "8ae7e348.fef0d",
        "type": "websocket in",
        "z": "6db5641.c4bb3a",
        "name": "",
        "server": "",
        "client": "9e485ce1.d54c1",
        "x": 460,
        "y": 4680,
        "wires": [
            [
                "784104ab.b023ec"
            ]
        ]
    },
    {
        "id": "dd0abd14.b0a6",
        "type": "function",
        "z": "6db5641.c4bb3a",
        "name": "",
        "func": "node.status({text:msg.payload[0][1]})\nmsg.payload=msg.payload[0][1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 4680,
        "wires": [
            [
                "6413a0a9.53041"
            ]
        ]
    },
    {
        "id": "784104ab.b023ec",
        "type": "json",
        "z": "6db5641.c4bb3a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 4680,
        "wires": [
            [
                "dd0abd14.b0a6"
            ]
        ]
    },
    {
        "id": "b7bb6232.cd4b9",
        "type": "link out",
        "z": "6db5641.c4bb3a",
        "name": "weiter nach Kartoffelpreis und  Heizung",
        "links": [
            "de3c0aa3.333c28"
        ],
        "x": 40,
        "y": 3320,
        "wires": []
    },
    {
        "id": "de3c0aa3.333c28",
        "type": "link in",
        "z": "55308ed3.60103",
        "name": "Ansagen",
        "links": [
            "b7bb6232.cd4b9"
        ],
        "x": 135,
        "y": 60,
        "wires": [
            [
                "1bf6ecb4.00b6d3"
            ]
        ]
    },
    {
        "id": "1bf6ecb4.00b6d3",
        "type": "delay",
        "z": "55308ed3.60103",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "12ae018e.04a58e"
            ]
        ]
    },
    {
        "id": "9b39172c.cd57c8",
        "type": "comment",
        "z": "55308ed3.60103",
        "name": "Wetter Chemnitz",
        "info": "",
        "x": 80,
        "y": 140,
        "wires": []
    },
    {
        "id": "80532bf1.2d2d68",
        "type": "inject",
        "z": "55308ed3.60103",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "77acf016.db78"
            ]
        ]
    },
    {
        "id": "77acf016.db78",
        "type": "http request",
        "z": "55308ed3.60103",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://api.met.no/weatherapi/locationforecast/1.9/?lat=50.8357&lon=12.92922",
        "tls": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "e5b7f4bf.bc5d88",
                "9ca53d3.b772ec"
            ]
        ]
    },
    {
        "id": "9ca53d3.b772ec",
        "type": "xml",
        "z": "55308ed3.60103",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "e5b7f4bf.bc5d88",
                "b42646e2.2a4d88"
            ]
        ]
    },
    {
        "id": "e5b7f4bf.bc5d88",
        "type": "debug",
        "z": "55308ed3.60103",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "b42646e2.2a4d88",
        "type": "function",
        "z": "55308ed3.60103",
        "name": "",
        "func": "p=msg.payload;\nt=p.weatherdata.product[0].time[0].location[0].temperature[0].$.value.replace(\".\",\",\");\nnode.status({text:t});\nmsg.payload=t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "9bbb5309.fb026"
            ]
        ]
    },
    {
        "id": "9bbb5309.fb026",
        "type": "template",
        "z": "55308ed3.60103",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Die aktuelle Kämnitz Temperatur beträgt {{payload}} Grad Celsius.",
        "output": "str",
        "x": 900,
        "y": 140,
        "wires": [
            [
                "e11cb4bd.3c51f8"
            ]
        ]
    },
    {
        "id": "e11cb4bd.3c51f8",
        "type": "link out",
        "z": "55308ed3.60103",
        "name": "",
        "links": [
            "81532115.8324a"
        ],
        "x": 1015,
        "y": 140,
        "wires": []
    },
    {
        "id": "757e8ee5.60481",
        "type": "link in",
        "z": "55308ed3.60103",
        "name": "",
        "links": [
            "351b3ef8.5ed6d2"
        ],
        "x": 35,
        "y": 180,
        "wires": [
            [
                "a42f4ece.1ec72"
            ]
        ]
    },
    {
        "id": "d706bedc.76842",
        "type": "delay",
        "z": "55308ed3.60103",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "12ae018e.04a58e"
            ]
        ]
    },
    {
        "id": "a42f4ece.1ec72",
        "type": "function",
        "z": "55308ed3.60103",
        "name": "",
        "func": "if (msg.payload==\"on 44,\") {\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "d706bedc.76842"
            ]
        ]
    },
    {
        "id": "12ae018e.04a58e",
        "type": "websocket out",
        "z": "55308ed3.60103",
        "name": "",
        "server": "",
        "client": "8db57f2b.e9e07",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "a721f16b.6d3ca",
        "type": "websocket in",
        "z": "55308ed3.60103",
        "name": "",
        "server": "",
        "client": "8db57f2b.e9e07",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "e5b7f4bf.bc5d88",
                "11a2bfe8.a7b38"
            ]
        ]
    },
    {
        "id": "c4cac141.aa04e",
        "type": "inject",
        "z": "55308ed3.60103",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/20 1-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "2745d3bd.ee987c"
            ]
        ]
    },
    {
        "id": "11a2bfe8.a7b38",
        "type": "function",
        "z": "55308ed3.60103",
        "name": "",
        "func": "msg.payload=msg.payload.replace(\".\",\",\");\nnode.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "9bbb5309.fb026"
            ]
        ]
    },
    {
        "id": "2745d3bd.ee987c",
        "type": "delay",
        "z": "55308ed3.60103",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "12ae018e.04a58e"
            ]
        ]
    }
]